@model GoodToCode.Entities.Web.Models.TimeCycle

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TimeCycle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TimeCycleId" />
            <div class="form-group">
                <label asp-for="TimeCycleKey" class="control-label"></label>
                <input asp-for="TimeCycleKey" class="form-control" />
                <span asp-validation-for="TimeCycleKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeCycleName" class="control-label"></label>
                <input asp-for="TimeCycleName" class="form-control" />
                <span asp-validation-for="TimeCycleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeCycleDescription" class="control-label"></label>
                <input asp-for="TimeCycleDescription" class="form-control" />
                <span asp-validation-for="TimeCycleDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interval" class="control-label"></label>
                <input asp-for="Interval" class="form-control" />
                <span asp-validation-for="Interval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
