@model GoodToCode.Shared.Models.ScheduleSlot

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ScheduleSlot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScheduleSlotId" />
            <div class="form-group">
                <label asp-for="ScheduleSlotKey" class="control-label"></label>
                <input asp-for="ScheduleSlotKey" class="form-control" />
                <span asp-validation-for="ScheduleSlotKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleKey" class="control-label"></label>
                <select asp-for="ScheduleKey" class="form-control" asp-items="ViewBag.ScheduleKey"></select>
                <span asp-validation-for="ScheduleKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlotKey" class="control-label"></label>
                <select asp-for="SlotKey" class="form-control" asp-items="ViewBag.SlotKey"></select>
                <span asp-validation-for="SlotKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
