@model GoodToCode.Entities.Web.Models.EntityTimeRecurring

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>EntityTimeRecurring</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityTimeRecurringKey" class="control-label"></label>
                <input asp-for="EntityTimeRecurringKey" class="form-control" />
                <span asp-validation-for="EntityTimeRecurringKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntityKey" class="control-label"></label>
                <select asp-for="EntityKey" class ="form-control" asp-items="ViewBag.EntityKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeRecurringKey" class="control-label"></label>
                <select asp-for="TimeRecurringKey" class ="form-control" asp-items="ViewBag.TimeRecurringKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="DayName" class="control-label"></label>
                <input asp-for="DayName" class="form-control" />
                <span asp-validation-for="DayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeName" class="control-label"></label>
                <input asp-for="TimeName" class="form-control" />
                <span asp-validation-for="TimeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTypeKey" class="control-label"></label>
                <select asp-for="TimeTypeKey" class ="form-control" asp-items="ViewBag.TimeTypeKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecordStateKey" class="control-label"></label>
                <select asp-for="RecordStateKey" class ="form-control" asp-items="ViewBag.RecordStateKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
