@model GoodToCode.Subjects.Models.EventResource

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>EventResource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventResourceKey" class="control-label"></label>
                <input asp-for="EventResourceKey" class="form-control" />
                <span asp-validation-for="EventResourceKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventKey" class="control-label"></label>
                <select asp-for="EventKey" class ="form-control" asp-items="ViewBag.EventKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="ResourceKey" class="control-label"></label>
                <select asp-for="ResourceKey" class ="form-control" asp-items="ViewBag.ResourceKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="ResourceTypeKey" class="control-label"></label>
                <select asp-for="ResourceTypeKey" class ="form-control" asp-items="ViewBag.ResourceTypeKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecordStateKey" class="control-label"></label>
                <select asp-for="RecordStateKey" class ="form-control" asp-items="ViewBag.RecordStateKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
