@page "/businesscreate"
@using Goodtocode.Subjects.BlazorServer.Data;
@using Goodtocode.Subjects.Domain;

@inject BusinessService Service

<PageTitle>Create a Business</PageTitle>

<h1>Business Create</h1>

<p>Create a businesses</p>
<EditForm Model="@business">
    <input placeholder="Business Name" @bind-value="@business.BusinessName" />
    <input placeholder="Tax Number" @bind-value="@business.TaxNumber" />
    <button class="btn btn-primary" @onclick="CreateBusineses">Create</button>
</EditForm>

@code {
    private string businessName = string.Empty;
    private BusinessObject business = new BusinessObject();

    private async Task CreateBusineses()
    {
        await Service.CreateBusinessAsync(business);
    }   
}
