@page "/fetchdata"
@using Goodtocode.Common.Infrastructure.ApiClient;
@using Goodtocode.Subjects.BlazorServer.Data
@using Goodtocode.Subjects.Domain;

@inject WeatherForecastService ForecastService
@inject IHttpClientFactory ClientFactory

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = ClientFactory.CreateClient("SubjectsApiClient");
        var response = await httpClient.GetFromJsonAsync<BusinessEntity>("Business?key=d3d42e6e-87c5-49d6-aec0-7995711d6612&api-version=1");
        //var client = new EventsInternalClient(httpClient.BaseAddress.ToString(), httpClient);
        //var response = await client.GetTicketedSessionsQueryAsync(conferenceType.Name, recNo, "1.0");
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
