@model GoodToCode.Shared.Models.Appointment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentKey" class="control-label"></label>
                <input asp-for="AppointmentKey" class="form-control" />
                <span asp-validation-for="AppointmentKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentName" class="control-label"></label>
                <input asp-for="AppointmentName" class="form-control" />
                <span asp-validation-for="AppointmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDescription" class="control-label"></label>
                <input asp-for="AppointmentDescription" class="form-control" />
                <span asp-validation-for="AppointmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlotLocationKey" class="control-label"></label>
                <select asp-for="SlotLocationKey" class ="form-control" asp-items="ViewBag.SlotLocationKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="SlotResourceKey" class="control-label"></label>
                <select asp-for="SlotResourceKey" class ="form-control" asp-items="ViewBag.SlotResourceKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeRangeKey" class="control-label"></label>
                <select asp-for="TimeRangeKey" class ="form-control" asp-items="ViewBag.TimeRangeKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecordStateKey" class="control-label"></label>
                <select asp-for="RecordStateKey" class ="form-control" asp-items="ViewBag.RecordStateKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
