@model GoodToCode.Entities.Web.Models.EventAppointment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EventAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventAppointmentId" />
            <div class="form-group">
                <label asp-for="EventAppointmentKey" class="control-label"></label>
                <input asp-for="EventAppointmentKey" class="form-control" />
                <span asp-validation-for="EventAppointmentKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventKey" class="control-label"></label>
                <select asp-for="EventKey" class="form-control" asp-items="ViewBag.EventKey"></select>
                <span asp-validation-for="EventKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentKey" class="control-label"></label>
                <select asp-for="AppointmentKey" class="form-control" asp-items="ViewBag.AppointmentKey"></select>
                <span asp-validation-for="AppointmentKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordStateKey" class="control-label"></label>
                <select asp-for="RecordStateKey" class="form-control" asp-items="ViewBag.RecordStateKey"></select>
                <span asp-validation-for="RecordStateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
