@model GoodToCode.Entities.Web.Models.Setting

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Setting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SettingKey" class="control-label"></label>
                <input asp-for="SettingKey" class="form-control" />
                <span asp-validation-for="SettingKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingTypeKey" class="control-label"></label>
                <input asp-for="SettingTypeKey" class="form-control" />
                <span asp-validation-for="SettingTypeKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingName" class="control-label"></label>
                <input asp-for="SettingName" class="form-control" />
                <span asp-validation-for="SettingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingValue" class="control-label"></label>
                <input asp-for="SettingValue" class="form-control" />
                <span asp-validation-for="SettingValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
